%tr{"data-hook" => t(:admin_shared_address_1)}
  %td Address:
  %td= f.text_field :address1
%tr{"data-hook" => t(:admin_shared_address_2)}
  %td Address (cont.):
  %td= f.text_field :address2
%tr{"data-hook" => t(:admin_share_city)}
  %td City:
  %td= f.text_field :city
%tr{"data-hook" => t(:admin_share_zipcode)}
  %td Postcode:
  %td= f.text_field :zipcode
%tr{"data-hook" => t(:admin_share_country)}
  %td Country:
  %td= f.collection_select(:country_id, available_countries, :id, :name)
%tr{"data-hook" => t(:admin_share_state)}
  %td State:
  %td= f.collection_select(:state_id, f.object.country.states, :id, :name)
